<div id="ondat-lp-footer">
  <div class="ondat-lp-footer-wrapper">
    <div class="ondat-lp-footer-wrapper-left">
      <a class="navbar-brand" href="{{ .Site.Params.logo_url }}">
        {{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}
        <span class="text-uppercase font-weight-bold">{{ .Site.Title }}</span>
      </a>
      <ul>
        <li class="ondat-lp-footer-header">Platform</li>
        <li><a href="https://ondat.io/platform/platform-overview">Platform Overview</a></li>
        <li><a href="https://ondat.io/platform/how-it-works">How it works</a></li>
      </ul>
      <ul>
        <li class="ondat-lp-footer-header">Teams</li>
        <li><a href="https://ondat.io/teams/development">Development</a></li>
        <li><a href="https://ondat.io/teams/devops-sre">DevOps SRE</a></li>
        <li><a href="https://ondat.io/digital-transformation">Digital Transformation</a></li>
      </ul>
      <ul>
        <li class="ondat-lp-footer-header">Solutions</li>
        <li><a href="https://ondat.io/solutions/stateful-applications">Stateful Apps</a></li>
        <li><a href="https://ondat.io/solutions/kubernetes-distributions">Kubernetes Distros</a></li>
      </ul>
      <ul>
        <li class="ondat-lp-footer-header">Blog</li>
        <li class="ondat-lp-footer-header"><a href="https://www.ondat.io/blog">Ondat Blog</a></li>
      </ul>
      <ul>
        <li class="ondat-lp-footer-header">Contact Us</li>
      </ul>
    </div>
    <div class="ondat-lp-footer-wrapper-right"></div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
  #ondat-lp-footer {
    background-color: #f8f9ff;
    padding: 120px 0;
  }
  .ondat-lp-footer-wrapper {
    max-width: 1240px;
    margin: auto;
    display: flex;
  }
  .ondat-lp-footer-wrapper-left {
    display: flex;
  }

  .ondat-lp-footer-wrapper-left ul,
  .ondat-lp-footer-wrapper-left ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .ondat-lp-footer-wrapper-left ul {
    margin-left: 60px;
  }
  .ondat-lp-footer-wrapper-left ul li a {
    text-decoration: none;
    color: #5e6a8e;
    font-weight: 400;
    font-size: 12px;
    margin-top: 18px;
    display: block;
  }
  .ondat-lp-footer-wrapper-left ul li.ondat-lp-footer-header {
    font-weight: 700;
    font-size: 14px;
    color: #081d60;
  }
  .ondat-lp-footer-wrapper-right {
  }
</style>
