<li>
    <a class="nav-link" href="#">
        Product <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://storageos.com/product">Overview</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/features">Features</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/why-storageos">Why Ondat</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/how-it-works">How it works</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/use-cases">Use cases</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/support">Support</a></li>

    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link" href="#">
        Solutions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://storageos.com/developers">Developers</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/infrastructure-managers">Infrastructure Managers</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/cloud">Cloud</a></li>
    </ul>
</li>

<li class="nav-item">
    <a class="nav-link" href="#">
        Docs
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link" href="#">
        Company <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://storageos.com/company">About us</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/leadership">Leadership</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/careers">Careers</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/news">News</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/events">Events</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/customers">Customers</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/partners">Partners</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/contact">Contact</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link" href="#">
          Learn <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://storageos.com/blog">Blog</a></li>
        <li><a class="dropdown-item" href="https://play.storageos.com/main">Play with Ondat</a></li>
        <li><a class="dropdown-item" href="https://storageos.com/resources/">Resources</a></li>
        <li><a class="dropdown-item" href="https://resources.storageos.com/demo-request">Get a demo</a></li>
    </ul>
</li>
